<%= link_to vehicle_path(vehicle) do %>

  <div class="card-trip">
  <%= image_tag vehicle.photo.url, height: 450, width: 600, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= vehicle.description %></h2>
      <p><%= vehicle.city %></p>
    </div>
    <h2 class="card-trip-pricing">$ <%= vehicle.price_day %></h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<% end %>
