<div class="container">
    <br>
    <div><%= @vehicle.description.capitalize %></div>
    <br>
    <div>Price Per Day: <%= @vehicle.price_day %></div>
    <br>
    <%= simple_form_for([@vehicle, @booking]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit class: "btn btn-primary" %>
    <% end %>

    <br>
    <img src="https://images.unsplash.com/photo-1536364127590-1594e3161294?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">

</div>
