<div class="container">
    <br>
    <div><%= @vehicle.description.capitalize %></div>
    <br>
    <div>Price Per Day: <%= @vehicle.price_day %></div>
    <br>
    <%= simple_form_for([@vehicle, @booking]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit class: "btn btn-primary" %>
    <% end %>

    <br>
  <%= image_tag @vehicle.photo.url, height: 250, width: 300, crop: :fill %>
</div>

